a.news-single(href="#")
    .post__image-container.news-single__img-wrap
        img.lazy.news-single__thumbnail.post__featured-image(src=URLbase+"img/lazy/lazy-news-thumb-small.jpg" data-src=URLbase+"img/news-thumb-small.jpg" alt="#" title="#")
        .news-single__top
            span.news-single__date 14.11.2017
    .news-single__bottom
        h4.news-single__heading Lorem ipsum dolor sit amet, consectetur adipiscing elit