- var lang = "cs";

- var title = "Léky, kosmetika, vitamíny | Best-Lékárna.cz";

- var metaDescription = "Best-lekarna.cz internetová lékarna, v nabídce obchodu najdete léky, vitamíny, minerály, kosmetika, tablety, přípravky a mnoho dlašího.";

- var metaKeywords = "lékarna, léky, tablety, přípravky, vitamíny, best";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://best-lekarna.cz";

- var metaSitename = "Best-Lékárna.cz";


- var URLbase = "";


- var metaTwitterName = "@bestlekarna";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "bestlekarna";

- var metaYoutubeName = "bestlekarna";

- var metaInstagramName = "bestlekarna";



- var ProductName = "AVENE Hydrance opt. riche 40ml hydratační krém";